parameters:
    level: max
    tmpDir: ./build/cache/phpstan
    checkMissingIterableValueType: false
    paths:
        - ./src
    ignoreErrors:
        - '#withHeader#'
        - '#expects array, mixed given#'
        - '#Cannot access offset .+ on mixed#'
includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
